snippet wwh
  https://writewithharper.com

snippet :smile "Smiling face with open mouth and smiling eyes"
    😄

snippet :muscle "Flexed biceps (muscle emoji)"
    💪

snippet :heart "Red heart"
    ❤️

snippet :wink "Winking face"
    😉

snippet :laugh "Face with tears of joy"
    😂

snippet :sunglasses "Smiling face with sunglasses"
    😎

snippet :thumbsup "Thumbs up"
    👍

snippet :party "Party popper"
    🎉

snippet :fire "Fire"
    🔥

snippet :clap "Clapping hands"
    👏

snippet :cry "Crying face"
    😢

snippet :thinking "Thinking face"
    🤔

snippet :hug "Hugging face"
    🤗
