snippet classes
	import classes from "./style.module.css";

snippet hit
	console.log("hit");

snippet fn
	function $1($2){
		$0
	}

snippet doc Create a JSDoc comment
	/** $0 */

snippet #! Setup as Executable Script
	#! /bin/node
