extends tex

snippet te "Create an inline TeX block"
	$$1$$0

snippet tex "Create a TeX block" 
	$$
	$0
	$$

snippet bo
	__$1__$0

snippet it
	_$1_$0

snippet link
	[$1]($0)

snippet img
	![$1]($0)

autosnippet w/
	with
