blender
chromium
configstore
create-react-library-nodejs
dconf
easyeffects
firebase
Electron
obs-studio
nextjs-nodejs
papis
RawTherapee
vpo-frontend
xdg-desktop-portal-wlr
yarn
pulse
insight-nodejs
menus
systemd
