* {
        border: none;
        border-radius: 0;
        font-family: IBM Plex Mono;
        font-size: 13px;
        text-shadow: none;
        box-shadow:    none;
        transition-duration: 0s;
        color: #ffffff;
}

window {
        font-weight:    bold;
        background:     transparent;
}

#pulseaudio, #cpu, #network, #clock, #battery{
        padding: 0px 10px;
}

#network{
}

#network.disconnected {
        color: red;
}

#tray{
  background: #000;
  color: #fff;
}
