* {
        border: none;
        border-radius: 0;
        font-family: Hack Nerd Font;
        font-size: 13px;
        text-shadow: none;
        transition-duration: 0s;
        color: #c0caf5;
}

window {
        font-weight:    bold;
        color:          #d5c4a1;
        background:     transparent;
}

#workspaces button {
        padding: 0 5px;
        background: #1a1b26;
}

#workspaces button.visible {
        background: #414868;
}

#workspaces button.focused {
        background: #414868;
}

#pulseaudio, #cpu, #network, #clock, #battery{
        padding: 0px 10px;
}

#network{
}

#network.disconnected {
        color: red;
}

#battery {
        color: green;
}

#battery.critical {
        color: red;
}

#battery.good {
        color: green;
}

#battery.charging {
        color: green;
}
