* {
  border: none;
  border-radius: 0;
  font-family: JetBrains Mono Medium Nerd Font Complete Mono;
  font-size: 13px;
  text-shadow: none;
  box-shadow: none;
  transition-duration: 0s;
  color: #ffffff;
}

window {
  font-weight: bold;
  background: transparent;
}

#pulseaudio, #cpu, #network, #clock, #battery{
  padding: 0px 10px;
}

#tray menu {
  background-color: #303030;
}
